    <footer>
        {%- include "logo.html" -%}
        <div class="flex flex-col sm:flex-row justify-around items-start gap-4">
            <nav aria-label="repeated primary">
                {% include "navigation-primary.html" %}
            </nav>
            <nav aria-label="secondary">
                {% include "navigation-secondary.html" %}
            </nav>
            <nav aria-label="utilities">
                <ul>
                    <li><a href="/privacy-policy">Privacy</a></li>
                    <li><a href="/accessibility-statement">Accessibility</a></li>
                    <li><a href="{{site.repo}}/blob/main/{{ page.inputPath }}">Edit this page</a></li>
                </ul>
            </nav>
        </div>

        <!-- Carbon Tracker -->
        <!-- <div id="wcb" class="carbonbadge wcb"></div> -->
        <div id="wcb" class="carbonbadge wcb-d"></div>
        <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
    </footer>


