<footer class="footer">
    <div class="social">
        <a href="{{ site.author.linkedin }}">
            {%- include "svg/LinkedIn.svg" -%}
            Let's connect on LinkedIn
        </a>
    </div>
    <nav aria-label="repeated primary">
        {% include "navigation-primary.html" %}
    </nav>
    <nav aria-label="secondary">
        {% include "navigation-secondary.html" %}
    </nav>
    <br>
    <address class="adr">
        <span class="org">{{site.author.name}}</span>
        <span class="org">{{site.adress.name}}</span>
        <span class="street-address">{{site.adress.street}}</span>,
        <span class="locality">{{site.adress.city}}</span>,
        <span class="country-name">{{site.adress.country}}</span>
    </address>
    <ul class="utility">
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/accessibility-statement">Accessibility Statement</a></li>
        <li><a href="{{site.repo}}/blob/master/{{ page.inputPath }}">Edit this page on GitHub</a></li>
    </ul>
</footer>
