    <footer>
        <a href="/" class="logo">
            {{site.title}}
        </a>
        <nav aria-label="repeated primary">
            {% include "navigation-primary.html" %}
        </nav>
        <nav aria-label="secondary">
            {% include "navigation-secondary.html" %}
        </nav>
        <nav aria-label="utilities">
            <ul>
                <li><a href="/privacy-policy">Privacy</a></li>
                <li><a href="/accessibility-statement">Accessibility</a></li>
                <li><a href="{{site.repo}}/blob/master/{{ page.inputPath }}">Edit page</a></li>
            </ul>
        </nav>
    </footer>
