<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    {%- if title %}
        {%- set pageTitle = title | smart | safe %}
    {%- elif category %}
        {%- set pageTitle = category | smart | safe %}
    {%- else %}
        {%- set pageTitle = heading | smart | safe %}
    {%- endif %}
    <title>{{ pageTitle }} – {{ site.title }}</title>
    {%- if description %}
        {%- set description = description | smart | safe %}
    {%- elif intro %}
        {%- set description = intro | markdown | safe | striptags(true) | escape %}
    {%- else %}
        {%- if category %}
            {%- set description = "Resources in the " + category + " category." %}
        {%- else %}
            {%- set description = content | striptags(true) | escape | truncate(150) %}
        {%- endif %}
    {%- endif %}
    <meta name="description" content="{{ description }}" />
    {%- set imageType = 'image/png' %}
    {%- if summaryImage %}
        {%- set cardType = "summary_large_image" %}
        {%- if summaryImage == "large" %}
            {%- set cardImage = site.url + "/assets/img/summary_large_image.png" %}
            {%- set imageAlt = "Sarah's Science logo: a red laserbeam with a flare at the very right." %}
            {%- set imageWidth = 1200 %}
            {%- set imageHeight = 628 %}
        {%- else %}
            {%- if (tags.length >= 1) and tags.includes('resource') %}
                {%- set imgDir = 'resources/' %}
            {%- elif (tags.length >= 1) and tags.includes('case-study') %}
                {%- set imgDir = 'case-studies/' %}
            {%- elif (tags.length >= 1) and tags.includes('post') %}
                {%- set imgDir = 'blog/' %}
            {%- elif (tags.length >= 1) and tags.includes('teaching') %}
                {%- set imgDir = 'teaching/' %}
            {%- elif (tags.length >= 1) and tags.includes('project') %}
                {%- set imgDir = 'research/' %}
            {%- elif (tags.length >= 1) and tags.includes('theses') %}
                {%- set imgDir = 'theses/' %}
            {%- elif (tags.length >= 1) and tags.includes('dissemination') %}
                {%- set imgDir = 'dissemination/' %}
            {%- elif (tags.length >= 1) and tags.includes('service') %}
                {%- set imgDir = 'service/' %}
            {%- else %}
                {%- set imgDir = '' %}
            {%- endif %}
            {%- set cardImage = site.url + "/assets/img/" + imgDir + summaryImage %}
            {%- set imageAlt = summaryImageAlt %}
            {%- if summaryImage.includes(".jpg") %}
                {%- set imageType = 'image/jpg' %}
            {%- endif %}
            {%- set imageWidth = 1024 %}
            {%- set imageHeight = 576 %}
        {%- endif %}
    {%- else %}
        {%- set cardType = "summary" %}
        {%- set cardImage = site.url + "/assets/img/summary.png" %}
        {%- set imageAlt = "Sarah's Science logo: a red laserbeam with a flare at the very right." %}
        {%- set imageWidth = 512 %}
        {%- set imageHeight = 512 %}
    {%- endif %}
    <meta property="og:site_name" content="{{site.title}}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace('.html', '') }}" />
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ cardImage }}" />
    <meta property="og:image:type" content="{{ imageType }}" />
    {%- if (tags.length >= 1) and (tags.includes('publication') or tags.includes('project')) %}
        <meta property="og:image:width" content="{{ imageWidth }}" />
        <meta property="og:image:height" content="{{ imageHeight }}" />
    {%- endif %}
    <meta property="og:image:alt" content="{{ imageAlt }}" />
    {%- if tags.length >= 1 and (tags.includes('publication') or tags.includes('project')) %}
        {%- set type = "article" %}
    {%- else %}
        {%- set type = "website" %}
    {%- endif %}
    <meta property="og:type" content="{{ type }}" />
    <meta property="article:author" content="{{ site.author.name }}" />

    <meta name="twitter:card" content="{{ cardType }}" />
    <meta name="twitter:site" content="{{ site.author.twitter }}" />
    <meta name="twitter:creator" content="{{ site.author.twitter }}" />
    <meta name="twitter:title" content="{{ pageTitle }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url | replace('.html', '') }}" />
    <meta name="twitter:image" content="{{ cardImage }}" />
    <meta name="twitter:image:alt" content="{{ imageAlt }}" />

    <meta itemprop="name" content="{{ pageTitle}}">
    <meta itemprop="description" content="{{ description }}">
    <meta itemprop="image" content="{{ cardImage }}">

    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover" />
    <meta name="disabled-adaptations" content="watch" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="color-scheme" content="dark light" />

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace('.html', '') }}" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/assets/img/icons/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/assets/img/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#262626" media="(prefers-color-scheme: dark)" />
    <link rel="preload" href="/assets/fonts/FSMeWeb-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/assets/fonts/FSMeWeb-Bold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/assets/fonts/FSMeWeb-Italic.woff2" as="font" type="font/woff2" crossorigin />

    <!-- Include bundled styles and scripts. Tailwind is included here. -->
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <script src="/assets/main.bundle.js"></script>

    <!-- Alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.0/dist/cdn.min.js"></script>

    <script type="application/ld+json">
        {
            "@context" : "https://schema.org",
            "@type" : "WebSite",
            "name" : "{{ site.title }}",
            "alternateName" : "{{ site.company }}",
            "url" : "{{ site.url }}"
        }
    </script>
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/feeds/main.xml" />
    <link rel="alternate" type="application/json" href="{{ site.url }}/feeds/main.json" />
    <link rel="author" href="{{ site.url }}/humans.txt" />
</head>
