{%- if tags.includes('project') %}
    {%- set project = true %}
    {%- set typeOfThing = 'research projects' %}
    {%- set linkToList = '/research/' %}
    {%- set items = collections['project'] %}
{%- elif tags.includes('teaching') %}
    {%- set teaching = true %}
    {%- set typeOfThing = 'courses' %}
    {%- set linkToList = '/teaching/' %}
    {%- set items = collections['teaching'] %}
{%- elif tags.includes('publication') %}
    {%- set publication = true %}
    {%- set typeOfThing = 'publications' %}
    {%- set linkToList = '/publications/' %}
    {%- set items = collections['publication'] %}
{%- elif tags.includes('theses') %}
    {%- set theses = true %}
    {%- set typeOfThing = 'theses' %}
    {%- set linkToList = '/theses/' %}
    {%- set items = collections['theses'] %}
{%- elif tags.includes('service') %}
    {%- set service = true %}
    {%- set typeOfThing = 'functions and services' %}
    {%- set linkToList = '/service/' %}
    {%- set items = collections['service'] %}
{%- elif tags.includes('dissemination') %}
    {%- set dissemination = true %}
    {%- set typeOfThing = 'dissemination activities' %}
    {%- set linkToList = '/dissemination/' %}
    {%- set items = collections['dissemination'] %}
{%- endif %}
<section aria-labelledby="further-reading-heading" class="teaser">
    <h2 id="further-reading-heading">More {{ typeOfThing }}</h2>
    <p>Here are a couple more {{ typeOfThing }} for you to enjoy. If that’s not enough, have a look at <a href="{{ linkToList }}">the full list</a>.</p>
    <ol class="list-none" reversed>
        {%- for post in items | reverse | removeCurrent(title) | promoteRelated(related) | limit(2) %}
            {% include "post-in-list.html" %}
        {%- endfor %}
    </ol>
</section>
