    <ul>
    {% set nav = [
        { title: 'Home', url: '/' },
        { title: 'Categories', url: '/categories' },
        { title: 'Publications', url: '/publications/' },
        { title: 'Dissemination', url: '/dissemination/' },
        { title: 'Supervising', url: '/theses' },
        { title: 'Functions', url: '/service/' }
    ] %}
    {% for item in nav %}
        <li>
            <a href="{{ item.url | url }}" {%- if item.url == page.url | replace(".html", "") %} aria-current="page"{% endif %}>{{ item.title }}</a>
        </li>
    {% endfor %}
</ul>
