{%- if (tags.length >= 1 and ('teaching' or 'project' or 'service' or 'theses' or 'publication' or 'dissemination')) or home %}
    {%- set briefPostInList = true %}
{%- endif -%}

<li class="post-in-list">
    {%- if briefPostInList %}<h3>{% else %}<h2 class="entry-title">{% endif %}
        {% if not post.data.permalink %}
            {{ post.data.title }}
        {% else %}
        <a href="{{ post.url  | replace(".html", "") }}" class="font-bold">
            {{ post.data.title | smart | safe }}
        </a>
        {%endif%}
    {% if briefPostInList %}</h3>{% else %}</h2>{% endif %}
    {% if not briefPostInList %}

        {% if post.data.tags.includes('publication') %}
            {% set supress_intro = true %}
            <p class="details">
                Publication
                {%- set people = post.data.coauthors %}
                {%- set praefix = 'in collaboration with' %}
                {% include "post-collaborators.html" %}
                {% include "post-categories.html" %}
            </p>

        {% elif post.data.tags.includes('dissemination') %}
            <p class="details">
                {{post.data.type}}
                {%- set people = post.data.colecturers %}
                {%- set praefix = 'co-presented by' %}
                {% include "post-collaborators.html" %}
                {% include "post-categories.html" %}
            </p>

        {% elif post.data.tags.includes('teaching') %}
            <p class="details">
                {{post.data.type}}
                {%- set people = post.data.colecturers %}
                {%- set praefix = 'co-taught by' %}
                {% include "post-collaborators.html" %}
                {% include "post-categories.html" %}
            </p>


        {% elif post.data.tags.includes('service') %}
            <p class="details">
                {{post.data.type}}
                {%- set people = post.data.collaborators %}
                {%- set praefix = 'serving with' %}
                {% include "post-collaborators.html" %}
                {% include "post-categories.html" %}
            </p>

        {% elif post.data.tags.includes('theses') %}
            <p class="details">
                {{post.data.type}}
                {%- set people = post.data.supervisors %}
                {%- set praefix = 'co-supervised by' %}
                {% include "post-collaborators.html" %}

                {%- set people = post.data.supervisees %}
                {%- set praefix = 'Conducted by' %}
                {% include "post-collaborators.html" %}

                Status:
                {% if post.data.status %}
                    {{post.data.status}}
                {% else %}
                    ongoing
                {% endif -%}
            </p>

        {% elif post.data.tags.includes('project') %}
            <p class="details">
                Research project
                {%- set people = post.data.collaborators %}
                {%- set praefix = 'in collaboration with' %}
                {% include "post-collaborators.html" %}
                Status:
                {% if post.data.status %}
                    {{post.data.status}}
                {% else %}
                    ongoing
                {% endif -%}
            </p>

        {% else %}
            <p class="details">
                posted {{ post.data.date | date }}
                {% include "post-categories.html" %}
            </p>
        {% endif -%}


        {% set menu = post.data.menu %}
        {% include "post-menu.html" %}

    {% endif %}
    {% if not supress_intro %}
        <div class="description entry-summary">
            {{ post.data.intro  | markdown | safe }}
        </div>
    {% endif %}
</li>
