{%- if (tags.length >= 1 and (blogPost or resource or 'case-study' or 'teaching' or 'project' or 'service' or 'theses')) or home %}
    {%- set briefPostInList = true %}
{%- endif -%}

<li class="post-in-list">
    {%- if briefPostInList %}<h3>{% else %}<h2 class="entry-title">{% endif %}
        <a href="{{ post.url  | replace(".html", "") }}">
            {{ post.data.title | smart | safe }}
        </a>
    {% if briefPostInList %}</h3>{% else %}</h2>{% endif %}
    {% if not briefPostInList %}

        {% if post.data.tags.includes('post') %}
            <p class="details">
                Article
                posted {{ post.data.date | date }}
                {% include "post-categories.html" %}
            </p>
        {% elif post.data.tags.includes('resource') %}
            <p class="details">
                Resource
                posted {{ post.data.date | date }}
                {% include "post-categories.html" %}
            </p>

        {% elif post.data.tags.includes('publication') %}
            <p class="details">
                A {{post.data.type}}
                {%- set people = post.data.collaborators %}
                {%- set praefix = 'co-authored by' %}
                {% include "post-collaborators.html" %}
                {% include "post-categories.html" %}
            </p>

        {% elif post.data.tags.includes('dissemination') %}
            <p class="details">
                A {{post.data.type}}
                {%- set people = post.data.colecturers %}
                {%- set praefix = 'co-presented by' %}
                {% include "post-collaborators.html" %}
                {% include "post-categories.html" %}
            </p>

        {% elif post.data.tags.includes('teaching') %}
            <p class="details">
                A {{post.data.type}}
                {%- set people = post.data.colecturers %}
                {%- set praefix = 'co-taught by' %}
                {% include "post-collaborators.html" %}
                {% include "post-categories.html" %}
            </p>

        {% elif post.data.tags.includes('theses') %}
            <p class="details">
                A {{post.data.type}}
                {%- set people = post.data.supervisors %}
                {%- set praefix = 'co-supervised by' %}
                {% include "post-collaborators.html" %}

                {%- set people = post.data.supervisees %}
                {%- set praefix = 'Conducted by' %}
                {% include "post-collaborators.html" %}

                Status:
                {% if post.data.status %}
                    {{post.data.status}}
                {% else %}
                    ongoing
                {% endif -%}
            </p>


        {% elif post.data.tags.includes('project') %}
            <p class="details">
                A research project
                {%- set people = post.data.collaborators %}
                {%- set praefix = 'in collaboration with' %}
                {% include "post-collaborators.html" %}
                Status:
                {% if post.data.status %}
                    {{post.data.status}}
                {% else %}
                    ongoing
                {% endif -%}
            </p>

        {% else %}
            <p class="details">
                posted {{ post.data.date | date }}
                {% include "post-categories.html" %}
            </p>
        {% endif -%}

    {% endif %}
    <div class="description entry-summary">
        {{ post.data.intro  | markdown | safe }}
    </div>
</li>
