{%- if (tags.length >= 1 and (blogPost or resource or 'case-study' or 'project')) or home %}
    {%- set briefPostInList = true %}
{%- endif -%}

<li class="post-in-list">
    {%- if briefPostInList %}<h3>{% else %}<h2 class="entry-title">{% endif %}
        <a href="{{ post.url  | replace(".html", "") }}">
            {{ post.data.title | smart | safe }}
        </a>
    {% if briefPostInList %}</h3>{% else %}</h2>{% endif %}
    {% if not briefPostInList %}
    <p class="details">
        Status:
        {% if post.data.status %}
            {{post.data.status}}
        {% else %}
            ongoing
        {% endif -%}
    </p>
    {% endif %}
    <div class="description entry-summary">
        {{ post.data.intro  | markdown | safe }}
    </div>
</li>
