<!doctype html>
<html lang="en">
    {% include "head.html" %}
    <body>
            <a href="#main" class="link link-accent text-2xl sr-only focus:not-sr-only">Skip to main content</a>
            {% include "header.html" %}
            <main id="main" tabindex="-1">
                {{ content | safe }}
                {% if cta %}
                    {% include "call-to-action.html" %}
                {% endif %}
            </main>
            {% include "footer.html" %}
            <style>
            </style>
    </body>
</html>
