---
layout: base.html
---

<article>
    <h1>
        {%- if heading %}
            {{- heading | smart | safe }}
        {%- elif category %}
            {{- category | smart | safe }}
        {%- else %}
            {{- title | smart | safe }}
        {%- endif %}
    </h1>
    {%- if intro and not hideIntro %}
        {{- intro | markdown | safe }}
    {%- endif %}
    {{- content | safe }}
</article>

<section aria-labelledby="my-research-focus">
    <h2 id="my-research-focus">Areas of Interest</h2>
    <p>There are a few topics that my work centers around:</p>
    <ul>
        <li><a href="/category/single-photon-sources">Single Photon Sources</a> is about quantum emitters emitting single photons.</li>
        <li><a href="/category/quantum-materials">Quantum Materials</a> is about the crazy stuff that happens on small scales.</li>
    </ul>
     <p>Have a look at the <a href="/categories">full list of subjects</a> I care about.</p>
</section>


<section aria-labelledby="writing" class="teaser">
    <h2 id="writing">Selected Publications</h2>
    <p>If you prefer to dive straight in rather than <a href="/publications/">see the full publication list</a>, here are a couple of my favourite publications to get you started:</p>
    <ul class="index-list" reversed>
        {%- set publications = collections.publication | reverse %}
        {%- for post in publications %}
            {%- if post.data.featured === true %}
                {%- include "post-in-list.html" -%}
            {%- endif %}
        {%- endfor %}
    </ul>
</section>

<section aria-labelledby="my-teaching-focus">
    <h2 id="my-teaching-focus">Current Teaching</h2>
    <p>Here's a glimps of the courses I am currently active in:</p>
    <div>
    <iframe
    id="current-teaching"
    title="View of courses Sarah is teaching currently or in the near future."
    src="https://online.uni-graz.at/kfu_online/wblvangebot.wbshowlvoffer?ppersonnr=72850"
    width="100%"
    height="700"
    >
    </iframe>
    </div>
    <p>Have a look at the <a href="/teaching">full list of course</a> I teach.</p>
</section>
