---
layout: base.html
---



<div class= "flex flex-col sm:flex-row-reverse gap-x-10  items-center">
<picture class="md:px-4 lg:px-8 xl:px-16">
    <img class="w-32 sm:w-32 md:w-48 lg:w-56 xl:w-72 mask mask-squircle motion-safe:hover:animate-spin object-cover" src="/assets/img/sarah-lindner--square-512x512.jpg" alt="Sarah Lindner of {{site.title}} smiling."/>
</picture>
<article class="w-full sm:w-3/4">
    <h1>
        {%- if heading %}
            {{- heading | smart | safe }}
        {%- elif category %}
            {{- category | smart | safe }}
        {%- else %}
            {{- title | smart | safe }}
        {%- endif %}
    </h1>
    {%- if intro and not hideIntro %}
        {{- intro | markdown | safe }}
    {%- endif %}
    {{- content | safe }}
</article>

</div>

<section aria-labelledby="my-research-focus">
    <h2 id="my-research-focus">Areas of Interest</h2>
    <p>There are a few topics that my work centers around:</p>
    <ul>
        <li><a class="font-semibold" href="/category/single-photon-sources">Single Photon Sources</a> and their unique ability to emit singleton photons.</li>
        <li>Special optical properties of <a class="font-semibold" href="/categories/silicon-vacancy-centers">Silicon</a> and <a class="font-semibold" href="/category/nitrogen-vacancy-center">Nitrogen</a> color centers in <a class="font-semibold" href="/category/nano-diamonds">nano-diamonds.</a></li>
    </ul>
     <p>Have a look at the <a href="/categories">full list of subjects</a> I care about.</p>
</section>


<section aria-labelledby="writing">
    <h2 id="writing">Selected Publications</h2>
    <p>If you prefer to dive straight in rather than <a href="/publications/">see the full publication list</a>, here are a couple of my favourite publications to get you started:</p>
    <ul class="list-none" reversed>
        {%- set publications = collections.publication | reverse %}
        {%- for post in publications %}
            {%- if post.data.featured === true %}
                {%- include "post-in-list.html" -%}
            {%- endif %}
        {%- endfor %}
    </ul>
</section>

{% if kfu_course_feed %}
<section aria-labelledby="my-teaching-focus">
    <h2 id="my-teaching-focus">Current Teaching</h2>
    <p>Here's a glimps of the courses I am currently active in:</p>
    <div class="not-prose">
    <!-- <iframe -->
    <!--         class ="w-full h-96" -->
    <!-- id="current-teaching" -->
    <!-- title="Live view of courses Sarah is teaching now or the next term." -->
    <!-- src="{{site.author.courses}}" -->
    <!-- > -->
    </iframe>
    </div>
    <p>Check out the source of this embedded content at <a href="{{site.author.courses}}">Uni Graz Online</a> or have a look at the <a href="/teaching">full list of my courses</a>.</p>
</section>
{% endif %}
