
//Import css for light theme syntax highlighting by default.
@import url('https://cdn.jsdelivr.net/npm/prism-themes@1.5.0/themes/prism-material-light.css') screen;
//If user OS has dark mode on, overwrite light css with dark css.
@import url('https://cdn.jsdelivr.net/npm/prism-themes@1.5.0/themes/prism-material-dark.css') screen and (prefers-color-scheme: dark);;


@tailwind base;
@tailwind components;

@layer base {
  html {
    @apply font-mono text-xl text-base-content bg-base-100 antialiased overflow-x-hidden;
  }
  body {
    @apply container mx-auto px-4 sm:px-4 md:px-8 lg:px-10 md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl;
  }
}

@layer base {
  header {
    @apply font-bold leading-6 text-sm sm:text-base ;
    @apply flex flex-col gap-y-4 lg:flex-row justify-between lg:items-center;
    @apply mt-6 sm:mt-8 md:mt-8 lg:mt-8 xl:mt-8;
    @apply mb-6 sm:mb-8 md:mb-10 lg:mb-16 xl:mb-20;

    .logo {
      @apply link link-primary link-hover;
    }
  }

  header a {
    @apply link link-hover hover:link-primary;
  }

  header ul {
    @apply flex flex flex-wrap gap-2 sm:gap-6 md:gap-8 lg:gap-10 whitespace-nowrap;
  }

  footer {
    @apply font-semibold leading-6 text-sm;

    .logo {
      @apply link link-primary link-hover;
    }
  }

  footer a {
    @apply link link-hover hover:link-primary;
  }

  footer ul {
    @apply flex flex-col gap-1 whitespace-nowrap;
  }

  footer nav {
    @apply pl-2 border-l border-primary;
  }

}

@layer base {
  main {
    @apply prose prose-zinc max-w-none prose-sm md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl;
    @apply prose-a:link prose-a:link-primary;
  }
}


@layer base {
  article {
    .plot {
      @apply max-w-3xl;
    }
  }
}


@tailwind utilities;

// Make sure code boxes have proper line and word breaking. This prevents ugly scrollbars.
code[class*="language-"] {
  @apply whitespace-pre-wrap break-all;
}

pre[class*="language-"] p {
  @apply my-0 uppercase tracking-tight;
  /* more stuff */
}

pre[class*="language-"] div  {
  @apply px-2 pb-1 -mt-2 mb-5 flex flex-row justify-between items-center;
  @apply border-b;
}

pre[class*="language-undefined"] div  {
  @apply justify-end;
}

pre[class*="language-"] button  {
  @apply btn btn-ghost btn-xs;
}


#wcb.carbonbadge{
  @apply flex whitespace-nowrap items-center;
  @apply prose-sm text-secondary-content;

  #wcb_p {
    @apply border border-secondary bg-base-100 rounded;
    @apply flex flex-row gap-x-4 items-start justify-self-center;
  }

  #wcb_a {
    @apply bg-secondary text-secondary-content px-1;
  }

  #wcb_g {
    @apply text-base-content px-1;
  }

  #wcb_2 {
    @apply prose-sm text-base-content;
  }
}
