---
pagination:
  data: collections
  size: 1
  alias: category
  filter:
    - all
layout: default
permalink: /category/{{ category | slugify | safe }}.html
---

{% if category == 'Vorlesung' %}
    <p>Browse the lectures I teach or check out my other <a href="/teaching">teaching activities</a>.
{% elif category == 'Übung' %}
    <p>Browse the courses I teach or check out my other <a href="/teaching">teaching activities</a>.
{% elif category == 'Seminar' %}
    <p>Browse the seminars I give or check out my other <a href="/teaching">teaching activities</a>.
{% elif category == 'Workshops' %}
    <p>Browse the workshops I hold or check out my other <a href="/teaching">teaching activities</a>.
{% elif category == 'Bachelor Thesis' %}
    <p>Browse the bachelor theses I supervise or check out my other <a href="/theses">supervising activities</a>.
{% elif category == 'Master Thesis' %}
    <p>Browse the master theses I supervise or check out my other <a href="/theses">supervising activities</a>.
{% elif category == 'PhD Thesis' %}
    <p>Browse the doctoral theses I supervise or check out my other <a href="/theses">supervising activities</a>.
{% elif category == 'Talk' %}
    <p>Browse the talks I give or check out my other <a href="/dissemination">dissemination activities</a>.
{% else %}
    <p>Resources in the {{ category }} category.
{% endif %}
    A <a href="/categories">full list of categories</a> is also available.</p>

<ol class="hfeed index-list" reversed>
    {% set categoryList = collections[ category ] %}
    {% for post in categoryList | reverse %}
        {% include "post-in-list.html" %}
    {% endfor %}
</ol>
